:root {
  --neutral-text: #242836;
  --neutral-text-muted: #3f475d;
  --neutral-text-subtle: #6c7590;
  --neutral-text-disabled: #c0c6de;
  --neutral-text-on-primary: #ffffff;
  --neutral-icon-on-primary: #ffffff;
  --neutral-background: #ffffff;
  --neutral-background-muted: #f8f9fc;
  --neutral-background-subtle: #f3f4fa;
  --neutral-background-white: #ffffff;
  --neutral-card-background: #ffffff;
  --neutral-card-background-hover: #ffffff;
  --neutral-border: #d0d5e9;
  --neutral-separator-subtle: #e0e3f2;
  --neutral-hover: #eef0f8;
  --neutral-disabled: #f3f4fa;
  --neutral-overflow: #e0e3f2;
  --neutral-icon: #555d76;
  --neutral-icon-subtle: #8a93ae;
  --neutral-icon-disabled: #b0b8d1;
  --neutral-field-border: #c0c6de;
  --neutral-action-secondary: #d0d5e9;
  --neutral-action-secondary-hover: #e0e3f2;
  --neutral-action-secondary-active: #d0d5e9;
  --neutral-chip-background: #e0e3f2;
  --neutral-chip-background-hover: #d0d5e9;
  --neutral-chip-background-active: #c0c6de;
  --neutral-chip-background-disabled: #d0d5e9;
  --neutral-large-tooltip-background: #ffffff;
  --neutral-large-tooltip-border: #e0e3f2;
  --neutral-small-tooltip-text: #ffffff;
  --neutral-small-tooltip-background: #191b22;
  --neutral-small-tooltip-border: #242836;
  --neutral-overlay: #191b22;
  --neutral-field-background: #f8f9fc;
  --neutral-text-placeholder: #969eb8;
  --primary-text: #1672eb;
  --primary-text-interactive: #1672eb;
  --primary-icon: #1672eb;
  --primary-action: #1672eb;
  --primary-action-hover: #5290f9;
  --primary-action-active: #1a57da;
  --primary-field-border-active: #1672eb;
  --primary-border-subtle: #b2c6ff;
  --primary-background: #ecf1ff;
  --primary-background-subtle: #f0f8ff;
  --primary-background-hover: #d8e2ff;
  --primary-chip-background: #ecf1ff;
  --primary-chip-background-subtle: #f0f8ff;
  --primary-chip-background-hover: #d8e2ff;
  --primary-chip-text: #1a57da;
  --primary-shadow-active: #b2c6ff;
  --primary-black-action: #272d3e;
  --primary-black-action-hover: #2b3143;
  --primary-black-action-active: #0a0b0f;
  --primary-black-background: #1d202a;
  --primary-black-background-hover: #3f475d;
  --primary-black-chip-text: #f8f9fc;
  --success-text: #008a27;
  --success-icon: #008a27;
  --success-background: #e4f5e5;
  --success-background-hover: #cfe9d1;
  --success-background-subtle: #e8f9ef;
  --success-background-subtle-hover: #cfe9d1;
  --success-background-subtle-active: #80da8d;
  --success-chip-background: #e4f5e5;
  --success-chip-background-hover: #cfe9d1;
  --success-chip-text: #086e08;
  --success-border: #00ab46;
  --success-border-subtle: #80da8d;
  --success-action: #008a27;
  --success-action-hover: #00ab46;
  --success-action-active: #086e08;
  --warning-text: #a96600;
  --warning-icon: #f5b315;
  --warning-background: #f9f0db;
  --warning-background-hover: #f7dfb1;
  --warning-background-subtle: #f9f6ea;
  --warning-chip-background: #f9f0db;
  --warning-chip-background-hover: #f7dfb1;
  --warning-chip-text: #8c4e02;
  --warning-border: #ca8200;
  --warning-border-subtle: #f5b315;
  --warning-field-border: #f5b315;
  --danger-text: #e3231d;
  --danger-icon: #e3231d;
  --danger-background: #fff0ec;
  --danger-background-hover: #fedad1;
  --danger-background-subtle: #fcf2ef;
  --danger-background-subtle-hover: #fedad1;
  --danger-background-subtle-active: #ffb39f;
  --danger-chip-background: #fff0ec;
  --danger-chip-background-hover: #fedad1;
  --danger-chip-text: #bb0401;
  --danger-border: #fa4d37;
  --danger-border-subtle: #ffb39f;
  --danger-field-border: #fa4d37;
  --danger-action: #e3231d;
  --danger-action-hover: #fa4d37;
  --danger-action-active: #bb0401;
  --special-free-plan-background: #ffc89f;
  --special-starter-plan-background: #ffdd96;
  --special-scale-plan-background: #a1b7ff;
  --special-business-plan-background: #a7f2ed;
  --special-enterprise-plan-background: #bf97ed;
  --rose-light: #f483b5;
  --rose-base: #c6387d;
  --rose-dark: #781552;
  --rose-text: #b6006b;
  --buttercup-light: #ffdd96;
  --buttercup-base: #f0b21b;
  --buttercup-dark: #c37319;
  --buttercup-text: #a65d00;
  --paprika-light: #e44467;
  --paprika-base: #9b0238;
  --paprika-dark: #4a0018;
  --paprika-text: #ba0044;
  --teal-light: #a7f2ed;
  --teal-base: #30c0bb;
  --teal-dark: #297774;
  --teal-text: #018181;
  --indigo-light: #a1b7ff;
  --indigo-base: #5d85e1;
  --indigo-dark: #365494;
  --indigo-text: #2563c1;
  --slate-light: #c1c5e1;
  --slate-base: #8490c4;
  --slate-dark: #525c85;
  --slate-text: #566087;
  --coral-light: #ffc89f;
  --coral-base: #fa8136;
  --coral-dark: #bb4511;
  --coral-text: #c74000;
  --lavender-light: #bf97ed;
  --lavender-base: #6a14de;
  --lavender-dark: #330276;
  --lavender-text: #6e00f4;
  --bamboo-light: #64cda5;
  --bamboo-base: #12966f;
  --bamboo-dark: #195d46;
  --bamboo-text: #007455;
}

.dark {
  --neutral-text: #eef0f8;
  --neutral-text-muted: #b0b8d1;
  --neutral-text-subtle: #7b84a0;
  --neutral-text-disabled: #31384d;
  --neutral-text-on-primary: #0a0b0f;
  --neutral-icon-on-primary: #0a0b0f;
  --neutral-background: #0a0b0f;
  --neutral-background-muted: #191b22;
  --neutral-background-subtle: #1d202a;
  --neutral-background-white: #0a0b0f;
  --neutral-card-background: #0a0b0f;
  --neutral-card-background-hover: #0a0b0f;
  --neutral-border: #2b3143;
  --neutral-separator-subtle: #272d3e;
  --neutral-hover: #242836;
  --neutral-disabled: #1d202a;
  --neutral-overflow: #272d3e;
  --neutral-icon: #969eb8;
  --neutral-icon-subtle: #626a85;
  --neutral-icon-disabled: #3f475d;
  --neutral-field-border: #31384d;
  --neutral-action-secondary: #2b3143;
  --neutral-action-secondary-hover: #272d3e;
  --neutral-action-secondary-active: #2b3143;
  --neutral-chip-background: #272d3e;
  --neutral-chip-background-hover: #2b3143;
  --neutral-chip-background-active: #31384d;
  --neutral-chip-background-disabled: #2b3143;
  --neutral-large-tooltip-background: #0a0b0f;
  --neutral-large-tooltip-border: #272d3e;
  --neutral-small-tooltip-text: #0a0b0f;
  --neutral-small-tooltip-background: #f8f9fc;
  --neutral-small-tooltip-border: #eef0f8;
  --neutral-overlay: #191b22;
  --neutral-field-background: #191b22;
  --neutral-text-placeholder: #555d76;
  --primary-text: #1672eb;
  --primary-text-interactive: #1672eb;
  --primary-icon: #1672eb;
  --primary-action: #1672eb;
  --primary-action-hover: #5290f9;
  --primary-action-active: #1a57da;
  --primary-field-border-active: #1672eb;
  --primary-border-subtle: #b2c6ff;
  --primary-background: #ecf1ff;
  --primary-background-subtle: #f0f8ff;
  --primary-background-hover: #d8e2ff;
  --primary-chip-background: #ecf1ff;
  --primary-chip-background-subtle: #f0f8ff;
  --primary-chip-background-hover: #d8e2ff;
  --primary-chip-text: #1a57da;
  --primary-shadow-active: #b2c6ff;
  --primary-black-action: #e0e3f2;
  --primary-black-action-hover: #d0d5e9;
  --primary-black-action-active: #ffffff;
  --primary-black-background: #f3f4fa;
  --primary-black-background-hover: #b0b8d1;
  --primary-black-chip-text: #191b22;
  --success-text: #008a27;
  --success-icon: #008a27;
  --success-background: #e4f5e5;
  --success-background-hover: #cfe9d1;
  --success-background-subtle: #e8f9ef;
  --success-background-subtle-hover: #cfe9d1;
  --success-background-subtle-active: #80da8d;
  --success-chip-background: #e4f5e5;
  --success-chip-background-hover: #cfe9d1;
  --success-chip-text: #086e08;
  --success-border: #00ab46;
  --success-border-subtle: #80da8d;
  --success-action: #008a27;
  --success-action-hover: #00ab46;
  --success-action-active: #086e08;
  --warning-text: #a96600;
  --warning-icon: #f5b315;
  --warning-background: #f9f0db;
  --warning-background-hover: #f7dfb1;
  --warning-background-subtle: #f9f6ea;
  --warning-chip-background: #f9f0db;
  --warning-chip-background-hover: #f7dfb1;
  --warning-chip-text: #8c4e02;
  --warning-border: #ca8200;
  --warning-border-subtle: #f5b315;
  --warning-field-border: #f5b315;
  --danger-text: #e3231d;
  --danger-icon: #e3231d;
  --danger-background: #fff0ec;
  --danger-background-hover: #fedad1;
  --danger-background-subtle: #fcf2ef;
  --danger-background-subtle-hover: #fedad1;
  --danger-background-subtle-active: #ffb39f;
  --danger-chip-background: #fff0ec;
  --danger-chip-background-hover: #fedad1;
  --danger-chip-text: #bb0401;
  --danger-border: #fa4d37;
  --danger-border-subtle: #ffb39f;
  --danger-field-border: #fa4d37;
  --danger-action: #e3231d;
  --danger-action-hover: #fa4d37;
  --danger-action-active: #bb0401;
  --special-free-plan-background: #ffc89f;
  --special-starter-plan-background: #ffdd96;
  --special-scale-plan-background: #a1b7ff;
  --special-business-plan-background: #a7f2ed;
  --special-enterprise-plan-background: #bf97ed;
  --rose-light: #f483b5;
  --rose-base: #c6387d;
  --rose-dark: #781552;
  --rose-text: #b6006b;
  --buttercup-light: #ffdd96;
  --buttercup-base: #f0b21b;
  --buttercup-dark: #c37319;
  --buttercup-text: #a65d00;
  --paprika-light: #e44467;
  --paprika-base: #9b0238;
  --paprika-dark: #4a0018;
  --paprika-text: #ba0044;
  --teal-light: #a7f2ed;
  --teal-base: #30c0bb;
  --teal-dark: #297774;
  --teal-text: #018181;
  --indigo-light: #a1b7ff;
  --indigo-base: #5d85e1;
  --indigo-dark: #365494;
  --indigo-text: #2563c1;
  --slate-light: #c1c5e1;
  --slate-base: #8490c4;
  --slate-dark: #525c85;
  --slate-text: #566087;
  --coral-light: #ffc89f;
  --coral-base: #fa8136;
  --coral-dark: #bb4511;
  --coral-text: #c74000;
  --lavender-light: #bf97ed;
  --lavender-base: #6a14de;
  --lavender-dark: #330276;
  --lavender-text: #6e00f4;
  --bamboo-light: #64cda5;
  --bamboo-base: #12966f;
  --bamboo-dark: #195d46;
  --bamboo-text: #007455;
}
